<h1>All of {{userdata.userName}}'s shopping lists</h1>

<p>Username: {{userdata.userName}}</p>


<div class="container">
  <div class="row">
{{#each userlists}}
    
    <div class="col-3 shopping_list_box">

        <form action="/shoppinglist" method="GET">
            <fieldset>
                <input type="hidden" id="listID" name="listID" value="{{listID}}" />
                <button type="submit" class="btn btn-info">
                    <p>
                        ID: {{listID}} <br />
                        Name: {{nameList}}<br>
                        Date: {{listCreated}}
                    </p>
                </button>
            </fieldset>
        </form>

    </div>
    {{/each}}
  </div>
</div>
<!-- Commenting out add list button since the Add New list is a form below.

<div class="shopping_list_box">
    <form action="/createlist" method="GET">
        <button type="button" class="btn btn-info">
            <p> Add List + </p>
        </button>
    </form>

</div>
--> 
<div class="container overviewPanel">
    <h2>Add new Shopping List </h2>
    <form action="/shoppinglistovw" method="post">

        <label>
            List Name (Required):
            <input type="text" name="nameList" required>
        </label>
        {{!-- <label>
            List Date (Optional):
            <input type="date" name="date">
        </label> --}}
        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Add New Shopping List +">
    </form>
</div>

<div class="container overviewPanel">
    <h2>Delete List </h2>
    <form action="/shoppinglistovw/delete" method="post">

        <label>
            List Name (Required):
            <input type="number" name="listID" min="0" required>
        </label>
        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Delete Shopping List">
    </form>
</div>

<div class="container overviewPanel">
    <h2>Update List Info</h2>
    <form action="/shoppinglistovw/update" method="post">
        <label>
            <input type="number" name="listID" required>
            List ID
        </label>
        <label>
            New List Name:
            <input type="text" name="nameList">
        </label>
        {{!-- <label>
            New List Date:
            <input type="date" name="date">
        </label> --}}
        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Update Shopping List Info">

    </form>
</div>

<div class="container overviewPanel">
    <h2> Merge shopping lists </h2>
    <form action="/shoppinglistovw/mergelists" method="post">

        <label>
            Destination List Name:
            <input type="text" name="nameListTo" required>
        </label>
        <label>
            Source List Name:
            <input type="text" name="nameListFrom" required>
        </label>
        <input class="btn btn-primary my-2 my-sm-0" type="submit" name="mergeLists" value="Merge Lists">

    </form>
</div>

</div>


