<h1>Shopping List View</h1>

{{!-- {{rows}} --}}

<p>Username: {{userdata.userName}}</p>


<p>Shopping List Name: {{listdata.nameList}}</p>
<p>Shopping List ID: {{listdata.listID}}</p>
<p>Shopping List Date: {{listdata.listCreated}}</p>




<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Check Status</th>
                <!--<th>Action</th>-->
            </tr>
        </thead>
        <tbody>
          {{#if listitems.[0].itemID}}
            {{#each listitems}}
            <tr>
                <td>{{ itemName }}</td>
                <td>{{ quantity }}</td>
                <td>{{ itemNote }}</td>
                <td>
                    {{#if markStatus }}

                    <form action="/shoppinglist" method="post">
                        <label>

                            <input style="display:none;width:40px;" type="number" name="listID" value={{listID}}>
                        </label>
                        <label>

                            <input style="display:none;width:40px;" type="number" name="listOfItems" value={{listOfItems}}>
                        </label>
                        <label>

                            <input style="display:none;width:40px;" type="text" name="nameList" value="{{nameList}}">
                        </label>
                        <input class="btn btn-success my-2 my-sm-0" type="submit" name="Checked" value="Checked">
                    </form>
                    {{/if}}

                    {{#unless markStatus }}
                    <form action="/shoppinglist" method="post">
                        <label>

                            <input style="display:none;width:40px;" type="number" name="listID" value={{listID}}>
                        </label>
                        <label>

                            <input style="display:none;width:40px;" type="number" name="listOfItems" value={{listOfItems}}>
                        </label>
                        <label>

                            <input style="display:none;width:40px;" type="text" name="nameList" value="{{nameList}}">
                            <input class="btn btn-primary my-2 my-sm-0" type="submit" name="Unchecked" value="Unchecked">
                    </form>

                    {{/unless}}
                </td>

                <!--<td>
                    <a class="btn btn-sm btn-info edit" data-itemName="{{ items.itemName }}" data-quantity="{{ List_of_Items.quantity }}" data-markStatus="{{ List_of_Items.markStatus }}" data-itemNote="{{ List_of_Items.itemNote }}">Edit</a>
                    <a class="btn btn-sm btn-danger delete" data-id="{{ Items.itemID }}">Delete</a>
                </td>-->
            </tr>
            {{/each}}
          {{/if}}
        </tbody>
    </table>
</div>



<form action="/defaultlist" method="get">
    <button type="submit" class="btn btn-primary">Add New Items using Default List</button>
</form>

<br>

<div class="container overviewPanel">
    <h2>Add new item </h2>
    <form action="/shoppinglist/save" method="post">
        <!-- Comment, do we want name to be save?-->

        <label>
            List ID : {{listdata.listID}}
            <input type="hidden" name="listID" value="{{listdata.listID}}">
        </label>
        <label>
            Item Name (Required):
            <input type="text" name="itemName" />
        </label>
        <label>
            Category (Required):
            <select name="categoryID" id="categoryID" required>
                {{#each categories}}
                <option value="{{categoryID}}">{{categoryName}}</option>
                {{/each}}
            </select>
        </label>
        <br />
        <label>
            Quantity
            <input style="width:40px;" type="number" name="quantity">
        </label>
        <label>
            Item Note: <input type="text" name="itemNote" />
        </label>
        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Add Item to Shopping List">
    </form>
</div>

<div class="container overviewPanel">
    <h2> Edit an Item </h2>
    <form action="/shoppinglist/update" method="post">

        <label>
            <input type="hidden" name="listID" value="{{listdata.listID}}" />
        </label>
        <label>
            Choose Item to Edit:
            <select name="itemID" id="itemID" required>
                {{#each listitems}}
                <option value="{{itemID}}">{{itemName}}</option>
                {{/each}}
            </select>
        </label>
        <label>
            Quantity
            <input style="width:40px;" type="number" name="quantity" min="0">
        </label>
        <label>
            Item Note: <input type="text" name="itemNote" />
        </label>
        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Edit Item on Shopping List">

    </form>
</div>

<div class="container overviewPanel">
    <h2>Delete an Item </h2>
    <form action="/shoppinglist/delete" method="post">

        <label>
            <input type="hidden" name="listID" value="{{listdata.listID}}" />
        </label>
        <label>
            Choose Item to Delete From Your LIst
            <select name="listOfItems" id="listOfItems" required>
                {{#each listitems}}
                <option value="{{listOfItems}}">{{itemName}}</option>
                {{/each}}
            </select>
        </label>
        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Delete Item on Shopping List">

    </form>
</div>
<!-- Add item to List form - to be completed

<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
<form action="/save" method="post">
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="itemName" class="form-control" placeholder="Item Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="quantity" class="form-control" placeholder="Quantity" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="itemNote" class="form-control" placeholder="Description" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
-->
<!-- Edit Item in List Form - to be completed

<form action="/update" method="put">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="quantity" class="form-control" placeholder="Quantity" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="itemNote" class="form-control" placeholder="Description" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
-->
<!-- Delete Item from List Form - to be completed

<form id="add-row-form" action="/delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLebel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Delete Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aira-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <strong>Are you sure you want to delete this item?</strong>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="shopItemID" class="form-control" required>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
-->

<!--
<form action="/edit-list" method="GET">
    <fieldset>
        <input type="submit" act name="editList" value="Edit Shopping List" />
    </fieldset>
</form>
-->

<script src="shoppinglist.js">
</script>

