{{#with context}}
<h1>All of {{userdata.userName}}'s shopping lists</h1>

<p>Username: {{userdata.userName}}</p>


<div class="container">
    <div class="row">

        {{#each userlists}}
        {{!-- {{#if userlists.listID}} --}}
        <div class="col-3 shopping_list_box">

            <form action="/shoppinglist" method="GET">
                <fieldset>
                    <input type="hidden" id="listID" name="listID" value="{{listID}}" />
                    <button type="submit" class="btn btn-info">
                        <p>
                            ID: {{listID}} <br />
                            Name: {{nameList}}<br>
                            Date: {{listCreated}}
                        </p>
                    </button>
                </fieldset>
            </form>

        </div>
        {{!-- {{/if}} --}}
        {{/each}}
    </div>
</div>
{{/with}}
<!-- Commenting out add list button since the Add New list is a form below.

<div class="shopping_list_box">
    <form action="/createlist" method="GET">
        <button type="button" class="btn btn-info">
            <p> Add List + </p>
        </button>
    </form>

</div>
-->
<div class="container overviewPanel">
    <h2>Add new Shopping List </h2>
    <form action="/shoppinglistovw" method="post">

        <label>
            List Name (Required):
            <input type="text" name="nameList" required>
        </label>

        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Add New Shopping List +">
    </form>
</div>

<div class="container overviewPanel">
    <h2>Delete List </h2>
    <form action="/shoppinglistovw/delete" method="post">


        <label>
            List Name:
            <select name="listID" id="listID" required>
                {{#each userlists}}
                <option value="{{listID}}">{{nameList}}</option>
                {{/each}}
            </select>
        </label>
        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Delete Shopping List">
    </form>
</div>

<div class="container overviewPanel">
    <h2>Update List Info</h2>
    <form action="/shoppinglistovw/update" method="post">
        <label>
            List Name:
            <select name="listID" id="listID" required>
                {{#each userlists}}
                <option value="{{listID}}">{{nameList}}</option>
                {{/each}}
            </select>
        </label>
        <label>
            New List Name:
            <input type="text" name="nameList">
        </label>

        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Update Shopping List Info">

    </form>
</div>

<div class="container overviewPanel">
    <h2> Merge shopping lists </h2>
    <form action="/shoppinglistovw/mergelists" method="post">

        <label>
            Destination List Name:
            <select name="nameListTo" required>
                {{#each userlists}}
                <option value="{{nameList}}">{{nameList}}</option>
                {{/each}}
            </select>
        </label>
        <label>
            Source List Name:
            <select name="nameListFrom" required>
                {{#each userlists}}
                <option value="{{nameList}}">{{nameList}}</option>
                {{/each}}
            </select>
        </label>
        <input class="btn btn-primary my-2 my-sm-0" type="submit" name="mergeLists" value="Merge Lists">

    </form>
</div>

<h2>Delete List </h2>
<form action="/shoppinglistovw/delete" method="post">


    <label>
        List Name:
        <select name="listID" id="listID" required>
            {{#each userlists}}
            <option value="{{listID}}">{{nameList}}</option>
            {{/each}}
        </select>
    </label>
    <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Delete Shopping List">
</form>


