<h1>All my shopping lists</h1>

<p>Username: {{context.userName}}</p>



{{#each context}}

<div class="shopping_list_box">

    <form action="/shoppinglist" method="GET">
        <fieldset>
            <input type="hidden" id="nameList" name="nameList" value="{{nameList}}" />
            <button type="submit" class="btn btn-info">
                <p>
                    Name: {{nameList}}<br>
                    >Date:{{listCreated}}
                </p>
            </button>
        </fieldset>

    </form>

</div>

{{/each}}

<div class="shopping_list_box">
    <form action="/createlist" method="GET">
        <button type="button" class="btn btn-info">
            <p> Add List + </p>
        </button>
    </form>

</div>


<h2> (This one works) Add new Shopping List </h2>
<form action="/shoppinglistovw" method="post">

    <label>
        List Name:
        <input type="text" name="nameList" required>
    </label>
    <label>
        List Date:
        <input type="date" name="date">
    </label>
    <label>
        (test)userID:
        <input style="width:40px;" type="number" name="userID" value="1">
    </label>
    <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Add New Shopping List +">
</form>

<h2> Test Add new Shopping List </h2>
<form action="/shoppinglistovw" method="post">
    <fieldset>
        <label>
            List Name:
            <input type="text" name="nameList" required>
        </label>
        <label>
            List Date:
            <input type="date" name="date">
        </label>
        <input type="text" name="userID" value="{{context.userID}}" />
        <input type="hidden" name="userID" value="{{context.userID}}" />
        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Add New Shopping List +">
    </fieldset>
</form>

<h2> (Test) Merge shopping lists </h2>
<form action="/shoppinglistovw" method="post">

    <label>
        Destination List Name:
        <input type="text" name="nameListTo" required>
    </label>
    <label>
        Source List Name:
        <input type="text" name="nameListFrom" required>
    </label>
    <input class="btn btn-primary my-2 my-sm-0" type="submit" name="mergeLists" value="Merge Lists">

</form>




